@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.content-center {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000a;
}

.content-center .text-center {
    text-align: center;
}

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;
}

.content-center input,
.content-center button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input {
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.content-center input:focus {
    border-bottom-color: #d07335;
}

.content-center button {
    background-color: #d07335;
    color: #fff;
    border-radius: 5px;
}

.content-center button:hover {
    background-color: #b55b28;
    cursor: pointer;
}

.content-center button:active {
    background-color: #c14e0e;
}

header a {
    color: #666;
    text-decoration: none;
}

header a:visited {
    color: #000;
}

header a:hover {
    text-decoration: underline;
}
